<!-- HEADER -->
<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>
	    <span>The Big List of Drinking Game Rules</span>
	  </h2>
	</div>

	<md-tabs
		md-selected="vm.card.type"
		md-stretch-tabs
		md-dynamic-height>
		<md-tab
			ng-repeat="type in vm.cardTypes"
			md-on-select="vm.getRules()">
			<md-tab-label>
				{{type}}
			</md-tab-label>
		</md-tab>
	</md-tabs>
</md-toolbar>



<md-card>

	<md-toolbar class="md-table-toolbar md-default" ng-hide="vm.filter.show">
		<div class="md-toolbar-tools">
			<h2 class="md-title">{{vm.cardTypes[vm.card.type]}} Rules</h2>
			<div flex></div>
			<md-button class="md-icon-button" ng-click="vm.filter.show = true">
				<md-icon class="material-icons">search</md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="vm.create($event)">
				<md-icon class="material-icons">add</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-toolbar class="md-menu-toolbar md-table-toolbar md-default" ng-hide="!vm.filter.show">
			<div class="md-toolbar-tools">
				<md-icon class="material-icons">search</md-icon>
				<form flex name="vm.filter.form">
					<input type="text" placeholder="Search" ng-model="vm.filter.query" ng-model-options="vm.filter.options">
				</form>
				<md-button class="md-icon-button" ng-click="vm.filter.show = false">
					<md-icon class="material-icons">close</md-icon>
				</md-button>
			</div>
	</md-toolbar>

	<md-table-container>
		<table md-table md-row-select ng-model="vm.selected">
			<thead md-head md-order="vm.listOrder">
				<tr md-row>
					<th md-column>Type</th>
					<th md-column md-order-by="primary">Title</th>
					<th md-column md-order-by="secondary">Body</th>
					<th md-column md-order-by="theme">Theme</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row md-auto-select md-select="rule" md-on-select="" md-select-id="_id" ng-repeat="rule in vm.cards | orderBy: vm.listOrder | filter: vm.filter.query">
					<td md-cell>{{rule.type}}</td>
					<td md-cell>{{rule.primary}}</td>
					<td md-cell>{{rule.secondary}}</td>
					<td md-cell>{{rule.theme}}</td>
				</tr>
			</tbody>
		</table>
	</md-table-container>
</md-card>
<md-card ng-show="$mdMedia('gt-xs')">
	<div class="md-toolbar-tools">
		<h2 class="md-headline">Add your own rules!</h2>
	</div>
	<submitdialog></submitdialog>
	<md-card-actions layout="row" layout-align="end center">
    <md-button ng-click="vm.createRule()">CREATE RULE</md-button>
  </md-card-actions>
</md-card>
<md-card>
	<div class="md-toolbar-tools">
		<h2 class="md-headline">Glossary</h2>
	</div>
	<md-card-content>
		Many drinking games have mechanics where players can 'Make a Rule'. This is an ongoing collection of rules for drinking games such as Firecup, King's Cup, Sociables, President, Jenga, and many more. You can search the table below directly and add your own rule ideas freely. In the future I will have a style guide to enforce a consistent writing style and set of terms.
	</md-card-content>
		<table md-table>
			<thead md-head>
				<tr md-row>
					<th md-column>Term</th>
					<th md-column>Definition</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row>
					<td md-cell>Event</td>
					<td md-cell>Minigames that are played until a loser is found.</td>
				</tr>
				<tr md-row>
					<td md-cell>Trap</td>
					<td md-cell>To be played at any time, provided the condition is met.</td>
				</tr>
				<tr md-row>
					<td md-cell>Action</td>
					<td md-cell>To be performed the moment the rule comes into play.</td>
				</tr>
				<tr md-row>
					<td md-cell>Status</td>
					<td md-cell>Actions that persist until the Status is removed.</td>
				</tr>
				<tr md-row>
					<td md-cell>Smite</td>
					<td md-cell>To punish another player by requiring them to drink, or to
					draw an action or status card.</td>
				</tr>
			</tbody>
		</table>
</md-card>
