<md-dialog ng-class="{'fullscreen-dialog': !$mdMedia('gt-sm')}" flex="80" aria-label="Create new rule" class="list">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create a new {{vm.cardTypes[vm.card.type]}} rule</h2>
      <span flex></span>
    </div>
  </md-toolbar>
  <submitdialog></submitdialog>

    <md-dialog-actions layout="row">
      <md-button ng-click="dm.cancel()">
        Cancel
      </md-button>
      <span flex></span>
      <md-button ng-click="dm.create()" md-autofocus>
        Create rule
      </md-button>
    </md-dialog-actions>
</md-dialog>
