<md-dialog ng-class="{'fullscreen-dialog': $mdMedia('xs')}" aria-label="Add Players">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{game.session.Title()}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content class="md-padding">
      <md-content layout-padding>
        Add other players to this device. Other players can now connect to this game from their own devices and play their turns there.
      </md-content>


      <div layout="column">
        <md-expansion-panel-group>

        <md-expansion-panel ng-repeat="player in dm.players">

          <md-expansion-panel-collapsed>
            <md-icon>person</md-icon>
            <div layout="column" flex>
              <span class="md-body-2">{{player.name}}</span>
              <span ng-if="game.session.deviceToken === player.deviceToken" class="md-caption">On this device</span>
              <span ng-if="game.session.deviceToken !== player.deviceToken" class="md-caption">On another device</span>
            </div>
            <md-expansion-panel-icon></md-expansion-panel-icon>
          </md-expansion-panel-collapsed>

          <md-expansion-panel-expanded>

            <md-expansion-panel-header>
              <md-icon>person</md-icon>
              <div layout="column" flex>
                <span class="md-body-2">{{player.name}}</span>
                <span ng-if="game.session.deviceToken === player.deviceToken" class="md-caption">On this device</span>
                <span ng-if="game.session.deviceToken !== player.deviceToken" class="md-caption">On another device</span>
              </div>
              <md-expansion-panel-icon></md-expansion-panel-icon>
            </md-expansion-panel-header>

            <md-expansion-panel-content>
                <md-input-container>
                  <label>Name</label>
                  <input ng-model="player.name"></input>
                </md-input-container>

            </md-expansion-panel-content>

            <md-expansion-panel-footer>
              <md-button class="md-warn" ng-click="$panel.collapse() && dm.loadPlayers()">Reset</md-button>
              <div flex></div>

              <md-button ng-click="$panel.collapse() && dm.linkPlayer(player)"ng-hide="$mdMedia('xs')">Link to this device</md-button>
              <md-button ng-click="$panel.collapse() && dm.linkPlayer(player)"ng-hide="$mdMedia('gt-xs')">Link</md-button>

              <md-button ng-click="$panel.collapse() && dm.savePlayer(player)" ng-hide="$mdMedia('xs')">Save Changes</md-button>
              <md-button ng-click="$panel.collapse() && dm.savePlayer(player)" ng-hide="$mdMedia('gt-xs')">Save</md-button>
            </md-expansion-panel-footer>

          </md-expansion-panel-expanded>
        </md-expansion-panel>
        <md-list-item>
          <form>
            <md-icon>person</md-icon>
            <md-input-container class="md-block">
              <label>Add a player</label>
              <input ng-model="dm.newPlayerName">
            </md-input-container>
            <md-button type="submit" ng-disabled="!dm.newPlayerName.length" class="md-secondary md-fab md-mini" ng-click="dm.addPlayer()">
              <md-icon>person_add</md-icon>
            </md-button>
          </form>
        </md-list-item>
      </md-expansion-panel-group>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="dm.cancel()">
        Back
      </md-button>
      <span flex></span>
      <md-button ng-click="dm.confirmPlayers()" md-autofocus>
        Start Game
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
