<md-dialog aria-label="Create a new game">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Create a new game</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content class="md-padding">
      <div layout="row">
        <md-input-container flex>
          <label>Mode</label>
          <md-select ng-model="dm.mode">
            <md-option ng-repeat="mode in dm.settings" value="{{$index}}">
              {{mode.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout="row">
        {{dm.settings[dm.mode].desc}}
      </div>
      <md-list flex>
        <md-list-item ng-click="null">
          <md-checkbox ng-disabled="true" ng-checked="true"></md-checkbox>
          <span>Classic</span>
        </md-list-item>
        <md-list-item ng-click="dm.selectTheme('movietraps')">
          <md-checkbox ng-checked="dm.themes.indexOf('movietraps') > -1"></md-checkbox>
          <span>Movie Traps</span>
        </md-list-item>
        <md-list-item ng-click="dm.selectTheme('nsfw')">
          <md-checkbox ng-checked="dm.themes.indexOf('nsfw') > -1"></md-checkbox>
          <span>NSFW</span>
        </md-list-item>
      </md-list>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="dm.cancel()">
        Back
      </md-button>
      <span flex></span>
      <md-button ng-click="dm.createGame()" md-autofocus>
        START GAME
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
