<header class="game" ng-cloak>
	<md-toolbar ng-show="vm.startEh">
		<md-tabs md-selected="vm.selectedPlayer" md-stretch-tabs md-dynamic-height>
			<md-tab id="tab_{{player.name}}" ng-repeat="player in game.session.players" >
				<md-tab-label>
					{{(vm.turn == $index) ? player.name + "'S TURN" : player.name}}
				</md-tab-label>
			</md-tab>

		</md-tabs>
	</md-toolbar>
</header>

<main class="game">
	<div layout="row" layout-xs="column" ng-if="vm.startEh">

		<!-- HYBRID EVENT / BURN DECK -->
		<div
		class="large card-container"
		ng-if="$mdMedia('xs') && (thisDevice(game.session.turn) || vm.burnCard.length)"
		md-swipe-up="vm.showGridBottomSheet()"
		md-swipe-left="vm.switchDecks()"
		md-swipe-right="vm.switchDecks()">
			<!-- EVENT CARD when SELECTED and YOUR TURN and YOU HAVE NOT BEEN BURNED -->
			<div
			class="clickable event card"
			ng-class="{'facedown': game.session.facedown}"
			ng-click="vm.drawEvent($event)"
			ng-if="vm.deckChoice == 'event' && thisDevice(game.session.turn) && !vm.burnCard.length && _.find(game.session.settings.decks, {'type': 'event', 'visible': true})">
				<p class="primary">{{vm.eventCard.primary}}</p>
				<p class="secondary">{{vm.eventCard.secondary}}</p>
				<span class="type">{{vm.eventCard.type}} TYPE</span>
			</div>
			<!-- BURN CARD when SELECTED and YOUR TURN and YOU HAVE NOT BEEN BURNED just acts as button -->
			<div
			class="clickable facedown burn card"
			ng-click="vm.drawBurn($mdOpenMenu, $event)"
			ng-if="vm.deckChoice == 'burn' && thisDevice(game.session.turn) && !vm.burnCard.length && _.find(game.session.settings.decks, {'type': 'burn', 'visible': true})">
			</div>
			<!-- BURN CARD when YOU HAVE BEEN BURNED -->
			<div
			class="clickable burn card"
			ng-class="{'facedown': vm.burnCard[0].facedown}"
			ng-click="vm.drawBurn($mdOpenMenu, $event)"
			ng-if="vm.burnCard.length && _.find(game.session.settings.decks, {'type': 'burn', 'visible': true})">
				<p class="primary">{{vm.burnCard[0].primary}}</p>
				<p class="secondary">{{vm.burnCard[0].secondary}}</p>
				<span class="type">{{vm.burnCard[0].type}} TYPE</span>
			</div>
		</div>

		<!-- EVENT CARD when LARGE SCREEN and YOUR TURN and YOU HAVE NOT BEEN BURNED-->
		<div class="large card-container" ng-if="$mdMedia('gt-xs') && thisDevice(game.session.turn) && !vm.burnCard.length && _.find(game.session.settings.decks, {'type': 'event', 'visible': true})">
			<div class="clickable event card" ng-class="{'facedown': game.session.facedown}" ng-click="vm.drawEvent($event)">
				<p class="primary">{{vm.eventCard.primary}}</p>
				<p class="secondary">{{vm.eventCard.secondary}}</p>
				<span class="type">{{vm.eventCard.type}} TYPE</span>
			</div>
		</div>

		<!-- BURN CARD when LARGE SCREEN and YOUR TURN and YOU HAVE NOT BEEN BURNED -->
		<div ng-if="$mdMedia('gt-xs') && thisDevice(game.session.turn) && !vm.burnCard.length && _.find(game.session.settings.decks, {'type': 'burn', 'visible': true})"  class="large card-container flex-right" >
			<div class="clickable facedown burn card"
				ng-click="vm.drawBurn($mdOpenMenu, $event)"
				md-menu-origin>
			</div>
		</div>

		<!-- PLACEHOLDER CARD when NOT YOUR TURN and YOU HAVE NOT BEEN BURNED-->
		<md-card
		ng-click="vm.alertTurn()"
		ng-if="!thisDevice(game.session.turn) && !vm.burnCard.length">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">
						This game, {{game.session.players[vm.selectedPlayer].name}}
					</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<md-list flex>
					<md-list-item>
						<span>...has been burned {{game.session.players[vm.selectedPlayer].stats.burns}} times.</span>
					</md-list-item>
					<md-list-item>
						<span>...has had {{game.session.players[vm.selectedPlayer].stats.statuses}} status conditions.</span>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>


		<!-- BURN CARD when LARGE SCREEN and YOU HAVE BEEN BURNED -->
		<div ng-if="$mdMedia('gt-xs') && vm.burnCard.length && _.filter(game.session.settings.decks, {'visible': true}).length"  class="large card-container flex-right" >
			<div class="clickable burn card"
				ng-class="{'facedown': vm.burnCard[0].facedown}"
				ng-click="vm.drawBurn($mdOpenMenu, $event)">
				<p class="primary">{{vm.burnCard[0].primary}}</p>
				<p class="secondary">{{vm.burnCard[0].secondary}}</p>
				<span class="type">{{vm.burnCard[0].type}} TYPE</span>
			</div>
		</div>
		<!-- CENTER SINGLE DECK when LARGE SCREEN and (NOT YOUR TURN) -->
		<div ng-if="$mdMedia('gt-xs') && false" flex></div>
		</md-menu>

		<md-fab-speed-dial ng-if="game.session.settings.takeTurns"hide-gt-xs md-open="vm.dialOpen" class="md-scale md-fab-bottom-right" md-direction="up">
			<md-fab-trigger>
				<md-button aria-label="menu" class="mainButton md-fab md-warn"></md-button>
			</md-fab-trigger>

			<md-fab-actions >
				<md-button ng-click="vm.switchDecks()" ng-if="_.filter(game.session.settings.decks, {'visible': true}).length > 1" class="md-raised" ng-disabled="!thisDevice(game.session.turn)">
					SWITCH DECKS
				</md-button>
				<md-button ng-click="vm.showHand()" class="md-raised" ng-disabled="!thisDevice(game.session.turn)">
					CHECK HAND
				</md-button>
				<md-button ng-if="game.session.turn != vm.selectedPlayer && game.session.settings.takeTurns" ng-click="vm.turnChange(vm.selectedPlayer)" class="md-raised">
					SET TURN
				</md-button>
				<md-button ng-if="game.session.turn == vm.selectedPlayer && game.session.settings.takeTurns" ng-click="vm.turnChange(game.session.turn)" class="md-raised">
					RESET TURN
				</md-button>
			</md-fab-actions>
		</md-fab-speed-dial>
	</div>
	<handsheet ng-if="vm.startEh && ($mdMedia('gt-xs') || (!thisDevice(game.session.turn) && !vm.burnCard.length) || !_.find(game.session.settings.decks, {'visible': true})  && !vm.burnCard.length)">
</main>
