<!-- HEADER -->
<div layout="column" layout-gt-md="row">

<header class="home">
	<div class="wrapper">
		<div layout="column" layout-md="row">
			<div>
				<img src="assets/img/firecupbanner.png" />
			</div>
			<section class="Dark" flex-gt-md>
				<h2 class="md-headline">What is Firecup?</h2>
				<p class="md-subhead">
					Firecup is the ultimate party game with variants ideal for every party -- all the way from quiet movie nights to off-the-hook college parties. Take everything you loved about the rules of King's Cup and Sociables, add a thousand cards, let people play from their own phones, and you've got a drinking game for adults that no other game can compare to.
				</p>
			</section>
		</div>
	</div>
	<md-divider></md-divider>
	<div class="don-share" data-style="short" data-bubbles="none">
		<div class="don-share-total"></div>
		<div class="don-share-facebook"></div>
		<div class="don-share-twitter"></div>
		<div class="don-share-reddit"></div>
		<div class="don-share-stumbleupon"></div>
	</div>
</header>
<main class="home">
	<div class="wrapper">
		<section class="Light" layout-padding>
			<h1 class="md-headline">What are you doing tonight?</h1>
			<div layout="column" layout-gt-sm="row">
				<div layout="row" layout-xs="column">

				<md-list-item flex-gt-xs class="md-card-container"  ng-click="vm.activity = 'Watching Movies'">
					<md-card flex>
						<div flex>
							<img class="md-card-image" src="assets/img/watchingmovie.png" />
						</div>
						<md-card-title class="md-title">
							Watching Movies
						</md-card-title>
					</md-card>
				</md-list-item>

				<md-list-item flex-gt-xs class="md-card-container" ng-click="vm.activity = 'Having House Party'">
					<md-card flex>
						<div flex>
							<img class="md-card-image" src="assets/img/houseparty.png" />
						</div>
						<md-card-title class="md-title">
							Having a House Party
						</md-card-title>
					</md-card>
				</md-list-item>

				</div>
				<div layout="row" layout-xs="column">

				<md-list-item flex-gt-xs class="md-card-container"  ng-click="vm.activity = 'Playing Games'">
					<md-card flex>
						<div flex>
							<img class="md-card-image" src="assets/img/playinggames.png" />
						</div>
						<md-card-title class="md-title">
							Playing Some Games
						</md-card-title>
					</md-card>
				</md-list-item>

				<md-list-item flex-gt-xs class="md-card-container"  ng-click="vm.activity = 'Cranking Medium'">
					<md-card flex>
						<div flex>
							<img class="md-card-image" src="assets/img/crankingmedium.png" />
						</div>
						<md-card-title class="md-title">
							Cranking it up to Medium
						</md-card-title>
					</md-card>
				</md-list-item>

				</div>
			</div>
			<div layout-padding ng-if="vm.activity == 'Watching Movies'">
				If you're having a movie night, we recommend <strong>Firetraps Lite</strong> with the <strong>Movie Traps</strong> expansion. You and your friends will have tons of cards with actions that both your friends and the movie characters can trigger. If your friend sets off a card, make her drink. If the movie sets off a card, everyone drinks!
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-accent" ui-sref="gameSetup({mode: 'Firetraps Lite', themes: ['classic', 'movietraps']})" ng-click="vm.navigate('Watching Movies')">START THE PARTY</md-button>
				</div>
			</div>
			<div layout-padding ng-if="vm.activity == 'Having House Party'">
				If you have a bunch of friends coming over, there's no better way to get the party going than with a game of <strong>Firecup</strong>. Scroll down to check out the rules and see what you're getting into.
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-accent" ui-sref="gameSetup({mode: 'Firecup'})" ng-click="vm.navigate('Having House Party')">START THE PARTY</md-button>
				</div>
			</div>
			<div layout-padding ng-if="vm.activity == 'Playing Games'">
				If tonight is a night for party games like beer pong or flip cup, don't sit everyone else back while two people are the center of attention. Fire up a game of <strong>Firetraps</strong> and wait for your friends to trigger your traps. When they do, they'll receive a card with the punishment. This game doesn't interfere with other party games so it's always a good bet.
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-accent" ui-sref="gameSetup({mode: 'Firetraps'})" ng-click="vm.navigate('Playing Games')">START THE PARTY</md-button>
				</div>
			</div>
			<div layout-padding ng-if="vm.activity == 'Cranking Medium'">
				If you can't convince your friends to join a game of strip Jumanji, try a game of <strong>Firecup</strong> with the <strong>NSFW Expansion</strong> instead.
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-accent" ui-sref="gameSetup({mode: 'Firecup', themes: ['classic', 'nsfw']})" ng-click="vm.navigate('Cranking Medium')">START THE PARTY</md-button>
				</div>
			</div>

		</section>


			<md-divider></md-divider>
			<section layout-padding ng-class="{'slide-left': selected == 'Firecup Lite'}" >
				<create-game ng-show="selected == 'Firecup Lite'" class="blag" mode="Firecup Lite"></create-game>
				<div ng-show="selected == 'Firecup Lite'" ng-click="selected = null" class="back-button">
					<md-icon >arrow_back</md-icon>
				</div>

				<h1 class="md-headline">Firecup Lite</h1>
				<h3 class="md-subhead">The original party classic! Play rounds of minigames and <strong>burn</strong> the losers with elaborate drinking methods and persistent status effects. The only difference between this and regular Firecup is that this version has no trap cards.</h3>

				<div layout="column" layout-gt-sm="row">

					<div layout="row">
						<div flex>
							<img class="md-card-image" src="assets/img/fcc1.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/fcc2.png"  />
						</div>

							<div flex>
								<img class="md-card-image" src="assets/img/fcc3.png"  />
							</div>
					</div>

					<div layout="row">
						<div flex>
							<img class="md-card-image" src="assets/img/fcc4.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/fcc5.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/fcc6.png"  />
						</div>
					</div>
				</div>
				<div layout-xs="column" layout="row">
					<div flex-gt-xs="33">
						<h1 class="md-title">NSFW Expansion</h1>
						<h3 class="md-subhead">200 extra cards to spice up the party. You'll be taking clothes off, putting clothes on, and touching earlobes, so this one is not for the faint of heart. Works best with <strong>Firecup Lite.</strong> All expansions are optional and work in every game mode.</h3>
					</div>
					<div flex-gt-xs="66" layout="row">
						<div flex>
							<img class="md-card-image" src="assets/img/nsfw1.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/nsfw2.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/nsfw3.png"  />
						</div>
					</div>
				</div>
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-accent" ng-click="vm.navigate('Firecup Lite')">PLAY FIRECUP LITE NOW</md-button>
				</div>
			</section>

			<md-divider></md-divider>
			<section class="Firecup" ng-class="{'slide-left': selected == 'Firecup'}" layout-padding>
				<create-game ng-show="selected == 'Firecup'" class="blag" mode="Firecup"></create-game>
				<div ng-show="selected == 'Firecup'" ng-click="selected = null" class="back-button">
					<md-icon >arrow_back</md-icon>
				</div>
				<h1 class="md-headline">Firecup</h1>
				<h3 class="md-subhead">An enhanced version of Firecup Lite that lets you draw trap cards and use them to <strong>burn</strong> your friends.</h3>

				<div layout="column" layout-gt-sm="row">

					<div layout="row">
						<div flex>
							<img class="md-card-image" src="assets/img/fce1.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/fce2.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/fce3.png"  />
						</div>
					</div>

					<div layout="row">
						<div flex>
							<img class="md-card-image" src="assets/img/fce4.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/fce5.png"  />
						</div>

						<div flex>
							<img class="md-card-image" src="assets/img/fce6.png"  />
						</div>
					</div>
				</div>
				<div layout="row">
					<span flex></span>
					<md-button class="md-raised md-accent" ng-click="vm.navigate('Firecup')">PLAY FIRECUP NOW</md-button>
				</div>
			</section>

		<md-divider></md-divider>
		<section  layout-padding ng-class="{'slide-left': selected == 'Firetraps'}" >
			<create-game ng-show="selected == 'Firetraps'" class="blag" mode="Firetraps"></create-game>
			<div ng-show="selected == 'Firetraps'" ng-click="selected = null" class="back-button">
				<md-icon >arrow_back</md-icon>
			</div>

			<h1 class="md-headline">Firetraps</h1>
			<h3 class="md-subhead">One of our most popular games. Each player gets 6 trap cards with actions on them. When another player triggers your trap, <strong>burn</strong> them and grab a new card.</h3>

			<div layout="column" layout-gt-sm="row">

				<div layout="row">
					<div flex>
						<img class="md-card-image" src="assets/img/ft1.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/ft2.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/ft3.png"  />
					</div>
				</div>

				<div layout="row">
					<div flex>
						<img class="md-card-image" src="assets/img/ft4.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/ft5.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/ft6.png"  />
					</div>
				</div>
			</div>
			<div layout-xs="column" layout="row">
				<div flex-gt-xs="33">
					<h1 class="md-title">Trump Expansion</h1>
					<h3 class="md-subhead">100 cards for your politically-minded friends. Works best with <strong>Firetraps.</strong> All expansions are optional and work in every game mode.</h3>
				</div>
				<div layout="row"flex-gt-xs="66">
					<div flex>
						<img class="md-card-image" src="assets/img/trump1.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/trump2.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/trump3.png"  />
					</div>
				</div>
			</div>
			<div layout="row">
				<span flex></span>
				<md-button class="md-raised md-accent" ng-click="vm.navigate('Firetraps')">PLAY FIRETRAPS NOW</md-button>
			</div>
		</section>

		<md-divider></md-divider>
		<section  layout-padding ng-class="{'slide-left': selected == 'Firetraps Lite'}" >
			<create-game ng-show="selected == 'Firetraps Lite'" class="blag" mode="Firetraps Lite"></create-game>
			<div ng-show="selected == 'Firetraps Lite'" ng-click="selected = null" class="back-button">
				<md-icon >arrow_back</md-icon>
			</div>

			<h1 class="md-headline">Firetraps Lite</h1>
			<h3 class="md-subhead">A simpler variant of Firetraps without the <strong>burn</strong> cards. Great for movie nights -- if your friend triggers a trap, make them drink, but if a movie character does, EVERYONE drinks.</h3>

			<div layout="column" layout-gt-sm="row">

				<div layout="row">
					<div flex>
						<img class="md-card-image" src="assets/img/ftl1.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/ftl2.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/ftl3.png"  />
					</div>
				</div>

				<div layout="row">
					<div flex>
						<img class="md-card-image" src="assets/img/ftl4.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/ftl5.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/ftl6.png"  />
					</div>
				</div>
			</div>
			<div layout-xs="column" layout="row">
				<div flex-gt-xs="33">
					<h1 class="md-title">Movie Expansion</h1>
					<h3 class="md-subhead">200 trap cards targeting the TV and the action on it, but many work to <strong>burn</strong> your friends too! Works best with <strong>Firetraps Lite.</strong> All expansions are optional and work in every game mode.</h3>
				</div>
				<div layout="row" flex-gt-xs="66">
					<div flex>
						<img class="md-card-image" src="assets/img/movie1.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/movie2.png"  />
					</div>

					<div flex>
						<img class="md-card-image" src="assets/img/movie3.png"  />
					</div>
				</div>
			</div>
			<div layout="row">
				<span flex></span>
				<md-button class="md-raised md-accent" ng-click="vm.navigate('Firetraps Lite')">PLAY FIRETRAPS LITE NOW</md-button>
			</div>
		</section>
	</div>
</main>
</div>
