<div>
<span flex></span>
<md-card>
  <md-card-title>
    <span class="md-title">
      Create {{dm.settings[dm.mode].name}} Game
    </span>
  </md-card-title>
  <form ng-cloak>
    <md-card-content class="md-padding">
      <div layout="row">
        <md-grid-list ng-cloak md-cols="2" md-row-height="1:1">
          <md-grid-tile ng-cloak ng-class="{'selected': dm.mode == 0 || dm.mode == 1}"  col-span="1" >
            <img ng-src="{{dm.settings[0].img}}" ng-click="dm.mode = 0"/>
            <md-icon ng-show="dm.mode == 0">check_circle</md-icon>
            <md-button class="lite md-raised" ng-class="{'md-primary': dm.mode == 1}" ng-click="dm.mode = 1">LITE</md-button>
          </md-grid-tile>
          <md-grid-tile ng-cloak ng-class="{'selected': dm.mode == 2 || dm.mode == 3}"  col-span="1">
            <img ng-src="{{dm.settings[2].img}}" ng-click="dm.mode = 2"/>
            <md-icon ng-show="dm.mode == 2">check_circle</md-icon>
            <md-button class="lite md-raised" ng-class="{'md-primary': dm.mode == 3}" ng-click="dm.mode = 3">LITE</md-button>
          </md-grid-tile>
        </md-grid-list>
      </div>
      <div layout="row">
        {{dm.settings[dm.mode].desc}}
      </div>
      <div class="themes" layout="column" layout-gt-xs="row" layout-lg="column">
          <!-- USE THIS TO MAINTAIN AN EVEN NUMBER OF EXPANSIONS figure class="selected" layout="row">
            <img src="assets/img/cardsicon.png" />
            <figcaption>
              <h3 class="md-title">Base Deck</h3>
              <p>
                The original set of cards
              </p>
            </figcaption>
            <md-icon>check_circle</md-icon>
          </figure -->
          <figure ng-class="{'selected': dm.themes.indexOf('movietraps') > -1}" ng-click="dm.selectTheme('movietraps')" layout="row">
            <img src="assets/img/movieicon.png" />
            <figcaption>
              <h3 class="md-title">Movie Traps</h3>
              <p>
                Extra trap cards targeted at movies
              </p>
            </figcaption>
            <md-icon ng-show="dm.themes.indexOf('movietraps') > -1">check_circle</md-icon>
          </figure>
          <figure ng-class="{'selected': dm.themes.indexOf('nsfw') > -1}" ng-click="dm.selectTheme('nsfw')" layout="row">
            <img src="assets/img/nsfwicon.png" />
            <figcaption>
              <h3 class="md-title">NSFW Expansion</h3>
              <p>
                Strip, kiss, and confession cards
              </p>
            </figcaption>
            <md-icon ng-show="dm.themes.indexOf('nsfw') > -1">check_circle</md-icon>
          </figure>
      </div>
        <!--md-list-item ng-click="dm.showNSFW = !dm.showNSFW">
          <md-checkbox ng-checked="false"></md-checkbox>
          <span>NSFW</span>
            <md-button ng-href="/nsfw" target="_self" ng-show="dm.showNSFW" class="md-raised md-secondary md-primary">Buy $10 / 200 Cards</md-button>
        </md-list-item -->
    </md-card-content>

    <md-card-actions layout="row">
      <span flex></span>
      <md-button ng-click="dm.createGame()" md-autofocus>
        CREATE GAME
      </md-button>
    </md-card-actions>
  </form>
</md-card>
<span flex></span>
</div>
