header.home {
  padding: 1rem;
  background: #2f2f2f;
  color: rgba(255,255,255,0.8);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  img {
    max-height: 20vh;
  }
}

section.home {
  padding: 1rem;
}

section.action {
  text-align: center;
}
.md-button.large {
  padding: 2rem;
font-size: 2rem;
}
