header.home {
  padding: 1rem;
  background: #2f2f2f;
  color: rgba(255,255,255,0.8);
}

section.home {
  padding: 1rem;
}

section.action {
  text-align: center;
}
.md-button.large {
  padding: 2rem;
font-size: 2rem;
}
