header {
  text-align: center;
  img {
    max-width: 90%;
  }
  section {
    color: white;
    padding: 4rem 2rem 2rem 2rem;
  }
  &.home {
    @media only screen and (min-width : 1280px) {
      min-width: 50vw;
      .wrapper {
        position: fixed;
        max-width: 50vw;
      }
      .don-share {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
}

main.home {

  background: rgb(250,250,250);
  max-width: 100% !important;
  .wrapper {
    max-width: 80%;
    margin: auto;
  }
  @media only screen and (min-width : 1280px) {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
}

section {
}
.md-card-container {
  .md-button {
    padding: 0 !important;
  }
  .md-card {
    margin: 1px !important;

  }
  .md-title {
    line-height: 1.5rem !important;
  }
}

div[flex] .md-card-image {
    max-width: 100%;
    width: 100%;
}

.don-share {
  display: inline-block;
}
