header {
  text-align: center;
  img {
    max-width: 90%;
  }
}

main.home {

  background: rgb(250,250,250);
  max-width: 100% !important;
  .wrapper {
    max-width: 80%;
    margin: auto;
  }
}

section {
}
.md-card-container {
  .md-button {
    padding: 0 !important;
  }
  .md-card {
    margin: 1px !important;

  }
  .md-title {
    line-height: 1.5rem !important;
  }
}

div[flex] .md-card-image {
    max-width: 100%;
    width: 100%;
}
