/** Angular Material Overrides **/
body,
.container {
  background: url('/assets/img/tabletexture.jpg');
}

.container {
  overflow: hidden;
  height: 100%;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  opacity: 0 !important;
}

md-toolbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    min-height: 48px !important;
    md-tabs-canvas {
      overflow-x: scroll !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    md-tabs.noTabPanel md-tabs-wrapper {
        display: none !important;
    }

    md-pagination-wrapper {
      
    }
    img {
      width: 1rem;
      margin-right: 1rem;
    }
}

md-content {
  overflow: inherit !important;
}
md-grid-list {
  width: 100%;
  md-grid-tile {
    figure img {
      height: 95%;
      width: 95%;
      cursor: pointer;
    }

    &.selected {
      figure {
        md-icon {
          position:absolute;
          right:0;
          top:0;
          color: #00c853;
        }
      }
    }

    .lite {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
    }
  }
}

.themes {
  figure {
    position: relative;
    img {
      max-height: 4rem;
      cursor: pointer;
    }
    h3 {
      margin: 0;
    }
    md-icon {
      position: absolute;
      left: 2rem;
      top: 2rem;
      margin: auto;
      color: #00c853;
      transform: translate(-50%,-50%);
    }
  }
}

md-radio-button {
  margin-bottom: 0 !important;
}

md-fab-actions {
  text-align: right;
}

md-scroll-mask {
  background-color: rgba(128,0,0,0.8);
}

md-input-container {
  label {
    box-sizing: border-box;
  }
  .md-errors-spacer {
    min-height: 0;
  }
}
md-dialog.list {
  min-width: 50vw;
}

md-bottom-sheet {
  padding-bottom: 0;
}
.fullscreen-dialog {
  height:100%;
  width:100%;
  max-height:100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
}

.md-title {
  text-transform: capitalize;
}

.md-caption {
  line-height: 1 !important;
}

.md-fab {
  position: fixed !important;
 md-icon {
    padding: 0 9px;
}
}

.progress {
  min-height: 8rem;
  padding: 3rem;
}
md-expansion-panel {
  md-icon:first-child {
    margin-left: -1.5rem !important;
    padding: 8px 1.5rem;
  }
  img:first-child {
    margin-left: -1.5rem !important;
    margin-bottom: -0.5rem;
    padding: 0 1rem;
  }
  md-expansion-panel-collapsed {
    align-items: center;
  }
}
.md-table-toolbar {
  md-content {
  background: white;
  }
  form {
    margin: 0 0 0 16px;
    > input {
    width: 100%;
    margin: 0;
    border: none;
    color: rgba(0, 0, 0, 0.87);
  }
  }
}

.md-sort-icon {
  min-width: 16px !important;
  min-height: 16px !important;
}

.material-icons {
    position: static;
    margin: 0;
}
body.noscroll {
  overflow: hidden;
}
main {
  max-width: 800px;
  margin: auto;

    @media (min-width: 600px) and (min-aspect-ratio: 5/7) {
      padding: 1rem;

  }

  &.game {
    md-card {
      margin: 40px auto;
    }
  }
}

main.onboard {
  figure img {
    width: 100%;
  }
}
handsheet {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
}

md-toolbar {
  .avatar {
    padding: 0;
    margin-right: 0;
    &+span {
      vertical-align: top;
    }
  }
}
.avatar {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: -0.5rem;
  padding: 0 0.5rem;
  border-radius: 50%;
}
.mainButton {
  background-image: url(/assets/img/icon.png);
  background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.flex-right {
  margin-left: auto;
}

blockquote {
  background: #f9f9f9;
  margin: 1.5em 10px !important;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
   color: #ccc;
   content: open-quote;
   font-size: 4em;
   line-height: 0.1em;
   margin-right: 0.25em;
   vertical-align: -0.4em;
 }
 &:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
  float: right;
}

footer {
    text-transform: uppercase;
    font-size: 80%;
    padding: 0.5rem;
    opacity: 0.8;
    /* float: right; */
}
}
blockquote p {
  display: inline;
}
.BoxShadowHelper(@level: 1, @hover: false){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    & when (@hover) {
      transition: all 250ms;
    }
}

.NoSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
