/** Angular Material Overrides **/
md-toolbar {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    min-height: 48px !important;
    md-tabs-canvas {
      overflow-x: scroll !important;
      &::-webkit-scrollbar {
        display: none;
      }
    }

    md-tabs.noTabPanel md-tabs-wrapper {
        display: none !important;
    }
}

md-grid-list {
  width: 100%;
}

body.noscroll {
  overflow: hidden;
}
header.game {
    border-bottom: 10rem solid #b71c1c;
}

main.game {
  max-width: 1000px;
  margin: auto;
  margin-top: -10rem;
  background: white;

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  @media (min-width: 600px) and (min-aspect-ratio: 5/7) {
    margin-top: -9rem;
    padding: 1rem;
  }
}

@rise: 7;
@run:  5;
@size: 50;
.cardarea {

  @media (max-width: 599px) {
    width: 100vw;
    height: calc(7/5 *100vw);
    overflow: hidden;
  }

  @media (min-width: 600px) {
    width: 50vw;
    height: calc(7/5 * 50vw);
    overflow: hidden;
    @media (min-aspect-ratio:5/7) {
      height: 80vh;
      width: calc(5/7 * 90vh);
    }
  }

}

.options {
  @media (min-width: 600px) {
    max-height: calc(7/5 * 50vw);
    @media (min-aspect-ratio:5/7) {
      max-height: 80vh;
    }
  }

  .hand {
    position: relative;
    .mini2 {
      position: absolute;
      width: 80%;
      max-width: 20vw;
      height: calc(7/5 * 20vw);
      overflow: hidden;
      margin: 0 !important;
      padding: 1rem;
      font-size: 2vw;
      .BoxShadowHelper(3);
      &.selected {
        z-index: 10 !important;
        .BoxShadowHelper(5);
      }
      &.hand-0 {
        left: 1rem;
        transform: rotate(-4deg);
        z-index: 5+0;
      }
      &.hand-1 {
        left: 20%;
        transform: rotate(-2deg);
        z-index: 5+1;
      }
      &.hand-2 {
        left: 40%;
        top: 1.5rem;
        transform: rotate(0deg);
        z-index: 5+2;
      }
      &.hand-3 {
        left: 60%;
        top: 3rem;
        transform: rotate(2deg);
        z-index: 5+3;
      }
    }
  }
}
.card.large {
  width: 100%;
  height: 100%;
  max-height: 90vh;
  .primary {
    font-size: 18px;
    padding: 1rem;
  }
  .secondary {
    font-size: 20px;
    padding: 2rem 1rem 1rem 1rem;
  }

  &.float {
    width: 85vw;
    height: 119vw;
    margin: 1rem;
  }
  &.contained {
    width: 85% !important;
    height: 80vh;
    max-height: 30rem;
    margin: 1rem;
  }
}

.mini {
  width: 110px;
  min-height: 160px;
  font-size: 50%;
      margin: 0 !important;
  .primary {
    font-size: 9px;
    padding: 0 1rem;
  }
  .secondary {
    font-size: 10px;
    padding: 0 1rem;
  }
}



.card {
  font-family: 'Roboto', sans-serif;
  font-weight:500;
  background: #eee;
  border-radius: 0.5rem;
  position: relative;
  display: inline-block;

  .BoxShadowHelper(1);
  .NoSelect();
  &:hover {
    cursor: pointer;
    .BoxShadowHelper(3);
  }
  .type {
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    bottom: 0.4rem;
    right: 1rem;
  }

  &.facedown::after {
    content: '';
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 100% 100%;
    border-radius: 0.5rem;
  }
  &.event {
    background: white;
    &::after {
      background-image: url(/assets/img/eventcard.png);
    }
  }
  &.consequence {
    background: #2f2f2f;
    color: #d1d1d1;
    &::after {
      background-image: url(/assets/img/cardback.png);
    }
  }
}

.mainButton {
  background-image: url(/assets/img/icon.png);
  background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
}
.BoxShadowHelper(@level: 1, @hover: false){
    & when (@level = 1) {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
    & when (@level = 2) {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 3) {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }
    & when (@level = 4) {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    & when (@level = 5) {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }
    & when (@hover) {
      transition: all 250ms;
    }
}

.NoSelect() {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
