<md-dialog aria-label="Card from Hand">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Who would you like to burn?</h2>
        <span flex></span>
      </div>
    </md-toolbar>


    <md-dialog-content>
        <md-list-item ng-repeat="player in game.session.players">
          <md-checkbox
          aria-label="{{player.name}}"
          ng-value="player.index"
          ng-checked="sm.selection.indexOf(player.index) > -1"
          ng-click="sm.selectPlayer(player.index)">
          </md-checkbox>
          <span>{{player.name}}</span>
        </md-list-item>
      </md-list>
    </md-dialog-content>


    <md-dialog-actions layout="row">
      <md-button ng-click="sm.cancel()" md-autofocus>
      Cancel
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="sm.burnPlayer()">
        BURN {{sm.players()[sm.selectedPlayer].name}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
