<!-- HEADER -->
<header ng-cloak>
	<md-toolbar>
		<md-tabs md-selected="vm.card.deck" md-stretch-tabs md-dynamic-height>
			<md-tab ng-repeat="type in vm.cardTypes" md-on-select="vm.getCards()">
				<md-tab-label>
					{{type}}
				</md-tab-label>
			</md-tab>
		</md-tabs>
	</md-toolbar>
</header>

<main>
<div layout="row" layout-xs="column">
	<div flex>
		<div class="large contained card {{vm.cardTypes[vm.card.deck]}}" ng-class="{'facedown': vm.facedown}" ng-click="vm.click($event)">
			<p class="primary">{{vm.card.primary}}</p>
			<p class="secondary">{{vm.card.secondary}}</p>
			<span class="type">{{vm.card.type}} CARD</span>
		</div>
	</div>
	<div flex>
		<md-content>
			<div layout="column">
				<md-input-container flex>
				  <label>Primary</label>
				  <input ng-model="vm.card.primary" ng-keyup="$event.keyCode == 13 && vm.postCard()">
				</md-input-container>

				<md-input-container flex>
				  <label>Secondary</label>
				  <input ng-model="vm.card.secondary" ng-keyup="$event.keyCode == 13 && vm.postCard()">
				</md-input-container>
			</div>
			<md-content class="md-padding" >TYPE</md-content>

			<md-radio-group class="md-padding" ng-model="vm.card.type" ng-if="vm.card.deck == 0">
			  <md-radio-button value="event">Event</md-radio-button>
				<md-radio-button value="trap">Trap</md-radio-button>
			</md-radio-group>

			<md-radio-group class="md-padding" ng-model="vm.card.type" ng-if="vm.card.deck == 1">
			  <md-radio-button value="action">Action</md-radio-button>
			  <md-radio-button value="status">Status</md-radio-button>
			</md-radio-group>

			<md-content class="md-padding" ng-if="vm.card.deck == 0 && vm.card.type == 'event'">
				Event Model
			</md-content>
			<md-radio-group ng-model="vm.card.model" ng-if="vm.card.deck == 0 && vm.card.type == 'event'">
			  <md-radio-button value="circle">Circle</md-radio-button>
				<md-radio-button value="duel">Duel</md-radio-button>
				<md-radio-button value="solo">Solo</md-radio-button>
			</md-radio-group>

			<md-content>Theme</md-content>
			<md-radio-group ng-model="vm.card.theme">
			  <md-radio-button value="movies">Movies</md-radio-button>
				<md-radio-button value="party">Party</md-radio-button>
				<md-radio-button value="cards">Cards</md-radio-button>
				<md-radio-button value="internet">Internet</md-radio-button>
				<md-radio-button value="sports">Sports</md-radio-button>
				<md-radio-button value="animals">Animals</md-radio-button>
				<md-radio-button value="food">Food</md-radio-button>
				<md-radio-button value="other">Other</md-radio-button>
			</md-radio-group>

			<md-content>Requirements</md-content>
			<md-radio-group ng-model="vm.card.reqs">
			  <md-radio-button value="none">None</md-radio-button>
				<md-radio-button value="coins">Coins</md-radio-button>
				<md-radio-button value="cards">Cards</md-radio-button>
			</md-radio-group>


			<div layout="row">
				<div flex></div>
					<md-button class="md-primary md-raised" ng-click="vm.postCard()" >UPLOAD</md-button>
				</div>
		</md-content>
	</div>
</div>


<div layout="row">
	<md-grid-list md-cols-xs="3" md-cols="4" md-row-height="1:1" md-row-height-xs="2:3">
		<md-grid-tile ng-repeat="card in vm.cards | filter : {theme: vm.card.theme, type: vm.card.type}">
			<div class="mini card {{card.deck}}">
					<p class="primary">{{card.primary}}</p>
					<p class="secondary" ng-if="card.secondary">{{card.secondary}}</p>
					<span class="type">{{card.type}} CARD</span>
			</div>
		</md-grid-tile>
	</md-grid-list>
</div>
</main>
