<md-dialog aria-label="Card from Hand">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>What would you like to do with this card?</h2>
        <span flex></span>
      </div>
    </md-toolbar>


    <md-dialog-content>


    </md-dialog-content>


    <md-dialog-actions layout="row">
      <md-button ng-click="vm.discard()">
        Discard
      </md-button>
      <span flex></span>
      <md-menu>
        <md-button ng-click="vm.openPlayerMenu($mdOpenMenu, $event)">
          Burn Player
        </md-button>
        <md-menu-content width="4">
          <md-menu-item ng-repeat="player in vm.otherPlayers()">
            <md-button md-no-ink ng-click="vm.burnPlayer(player.index)">
              <span md-menu-align-target>
                {{player.name}}
              </span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button ng-click="vm.cancel()" md-autofocus>
      Keep
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
