<md-bottom-sheet class="md-grid" layout="column">
  <md-tabs md-selected="hm.handType" md-stretch-tabs md-dynamic-height>
    <md-tab label="Table ({{hm.tableCards}})">
      <md-content ng-if="hm.tableCards">
        <md-grid-list
        md-cols="3" md-cols-gt-xs="6" md-row-height="5:7" md-gutter="4px">
          <md-grid-tile ng-cloak ng-repeat="card in $parent.hm.table()" md-colspan="1" md-rowspan="1">
            <div class="burn card" ng-click="$parent.$parent.hm.handClick(card)">
              <p class="primary">{{card.primary}}</p>
              <p class="secondary" ng-if="card.secondary">{{card.secondary}}</p>
              <span class="type">STATUS TYPE</span>
            </div>
          </md-grid-tile>
        </md-grid-list>
      </md-content>
      <md-content ng-cloak ng-if="!hm.tableCards" class="md-padding">
        {{$parent.game.session.players[$parent.$parent.vm.selectedPlayer].name}} has no cards on the table.
      </md-content>
    </md-tab>
    <md-tab label="Hand ({{hm.handCards}})" ng-if="game.session.players[$parent.vm.selectedPlayer].deviceToken == game.session.deviceToken">
      <md-content ng-if="hm.handCards">
          <md-grid-list
            md-cols="3" md-cols-gt-xs="6" md-row-height="5:7" md-gutter="4px">
            <md-grid-tile ng-cloak ng-repeat="card in $parent.hm.hand()" md-colspan="1" md-rowspan="1">
      				<div class="burn card" ng-click="$parent.$parent.hm.handClick(card)">
      					<p class="primary">{{card.primary}}</p>
      					<p class="secondary" ng-if="card.secondary">{{card.secondary}}</p>
      					<span class="type">TRAP TYPE</span>
      				</div>
            </md-grid-tile>
          </md-grid-list>
        </md-content>
      <md-content ng-if="!hm.handCards" class="md-padding">
        You have no cards in your hand.
      </md-content>
    </md-tab>
  </md-tabs>

</md-bottom-sheet>
