<md-dialog aria-label="Card from Hand">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Who would you like to smite?</h2>
        <span flex></span>
      </div>
    </md-toolbar>


    <md-dialog-content>
      <md-list flex>
        <md-radio-group ng-model="sm.selectedPlayer">
        <md-list-item ng-repeat="player in game.session.players" ng-click="sm.selectPlayer(player.index)">
          <span>{{player.name}}</span>
            <md-radio-button aria-label="{{player.name}}" class="md-secondary" ng-value="player.index"></md-radio-button>
        </md-list-item>
      </md-radio-group>
      </md-list>
      <md-content class="md-padding">
        <md-checkbox class="md-padding" ng-click="sm.autoselect()" ng-model="vm.autoSmite">
          Always smite the tabbed player
        </md-checkbox>

      </md-content>
    </md-dialog-content>


    <md-dialog-actions layout="row">
      <md-button ng-click="sm.cancel()" md-autofocus>
      Cancel
      </md-button>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="sm.smitePlayer()">
        SMITE {{sm.players()[sm.selectedPlayer].name}}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
